# Build artifacts
Debug/**/*.o
Debug/**/*.d
Debug/**/*.elf
Debug/**/*.bin
Debug/**/*.map
Debug/**/*.list
Debug/**/*.hex
Debug/**/*.cyclo
Debug/**/*.su

# Python
__pycache__/
*.pyc

# IDE / OS
.metadata/
*.log
Thumbs.db
